<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <form action="/passwords/add" method="post">
        <input type="text" name="website" placeholder="Sitio Web" required>
        <input type="text" name="password" placeholder="Contraseña" required>
        <button type="submit">Añadir</button>
    </form>
</body>
</html>