<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesDeletePassword.css">
</head>
<body>
    <div class="container">
        <p>Contraseña eliminada</p>
        <a href="/passwords">Volver</a>
    </div>
    <script>
    // Comprobar si el modo oscuro está habilitado en el localStorage
    document.addEventListener('DOMContentLoaded', () => {
    const isDarkMode = localStorage.getItem('darkMode') === 'true';
    if (isDarkMode) {
    document.body.classList.add('dark-mode');
    }
    });
    </script>
</body>
</html>