<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesDeletePassword.css">
</head>
<body>
    <div class="container">
        <p>Contraseña eliminada</p>
        <a href="/passwords">Volver</a>
    </div>
</body>
</html>