<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylepassword.css">
    <title>Lista de Contraseñas</title>
</head>
<body>
    <div class="container">
        <h1>Mis Contraseñas</h1>
        <p>Bienvenido, {{username}}. <a href="/logout">Cerrar sesión</a></p>

        <ul>
            {{#passwords}}
                <li>
                    <span>{{website}}</span> : <span>{{password}}</span>
                    <div>
                        <form action="/passwords/delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="{{id}}">
                            <button type="submit">Eliminar</button>
                        </form>
                        <form action="/passwords/update/{{id}}" method="get" style="display:inline;">
                            <button type="submit">Cambiar</button>
                        </form>
                    </div>
                </li>
            {{/passwords}}
        </ul>

        <a href="/passwords/new">Añadir contraseña</a>
        <br>
        <a href="/" class="back">Volver</a>
    </div>
    <script>
        // Comprobar si el modo oscuro está habilitado en el localStorage
        document.addEventListener('DOMContentLoaded', () => {
            const isDarkMode = localStorage.getItem('darkMode') === 'true';
            if (isDarkMode) {
                document.body.classList.add('dark-mode');
            }
        });
    </script>
</body>
</html>