<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar Contraseña</title>
    <link rel="stylesheet" href="/stylesUpdatePassword.css">
</head>
<body>
    <h1>Editar Contraseña</h1>
    <form action="/passwords/update" method="post">
        <label for="website">Sitio Web:</label>
        <input type="text" id="website" name="website" value="{{password.website}}" readonly>

        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="Nueva Contraseña" required>

        <input type="hidden" name="id" value="{{password.id}}">
        <button type="submit">Guardar</button>
    </form>
    <a href="/passwords">Volver</a>
</body>
</html>