
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    text-align: center;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #4c74af;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}


li {
    background-color: #f9f9f9;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


li span {
    font-size: 16px;
    display: inline-block;
}


li div {
    display: flex;
    gap: 10px;
}


button {
    background-color: #4c74af;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #31b0d5;
}

button[type="submit"] {
    background-color: #4c74af;
}

button[type="submit"]:hover {
    background-color: #4c74af;
}


a {
    display: inline-block;
    background-color: #4c74af;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #4c74af;
}
